* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

input,
button {
    font-size: inherit;
}

.content {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.container {
    /* position: fixed; */
    /* bottom: 2.5rem;
    left: 0;
    right: 0; */
}

.message-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.message-input {
    padding: 0.7rem 0.7rem;
    border-radius: 1rem;

    outline: 1px solid black;
    outline-offset: -1px;
    border: none;
    width: 100%;
}

.message-input:focus {
    outline: 2px solid royalblue;
}

.send-button {
    cursor: pointer;
    background: dodgerblue;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    flex-shrink: 0;
}

.message {
    width: fit-content;
    min-width: 3ch;
    max-width: 20rem;
    background-color: whitesmoke;
    padding: 0.5rem 0.8rem;
    overflow-wrap: break-word;
    border-radius: 1rem;
}

.message__time {
    color: gainsboro;
    text-align: end;
    margin-top: 0.3rem;
    font-size: 0.75rem;
    margin-left: 0.3rem;
}

.chat {
    list-style: none;
    max-height: 80vh;
    overflow-y: auto;
    margin-block: 1rem 2rem;
}

.chat__name {
    margin-bottom: 0;
}

.chat__message {
    margin-bottom: 0.5rem;
}

.chat__message--right {
    margin-left: auto;
    background-color: dodgerblue;
    color: white;
}

.chats-list {
    list-style: none;
}

.chats-list__title {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.chats-list__item {
    display: block;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: whitesmoke;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1rem;
    font-weight: bold;
}

.chats-list__item:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.button {
    cursor: pointer;
    background: dodgerblue;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.button:hover {
    background: rgb(0, 126, 251);
}

.button:active {
    background: rgb(0, 90, 179);
}
